body{
    background-color: rgb(216, 215, 215);
    z-index: 197;
}
.TopBar{
    position: absolute;
    background-color: white;
    width: 1460px;
    height: 75px;
    top: -18px;
    left: -20px;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
}
.SideBar{
    position: absolute;
    background-color: rgb(236, 235, 235);
    width: 0%;
    height: 1000%;
    top: -10%;
    left: -10%;
    transition: 0.2s;
    z-index: 199;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
}
.MenuButton{
    position: absolute;
    top: 2px; 
    width: 55px;
    height: 54;
    border-radius: 46px;
    cursor: pointer;
    z-index: 500;
}
.FirstMenuButton{
    left: 10px;
}
.LastMenuButton{
    left: -100px;
    transition: 0.3s;
}
.Dot{
    position: absolute;
    top: 28px;
    left: -50px;
    width: 0px;
    height: 0px;
    background-color: black;
    opacity: 0.2;
    border-radius: 50px;
    transition: 0.3s;
    z-index: 499;
}
.ShadowDiv{
    position: absolute;
    width: 1000%;
    height: 1000%;
    top: 0px;
    left: -15%;
    opacity: 0.3;
    background-color: black;
    display: none;
    cursor: pointer;
    z-index: 198;
}
.SideBarHr{
    position: absolute;
    top: 57px;
    left: -10%;
    width: 30%;
    height: 2px;
    z-index: 499;
    background-color: darkgray;
    display: none;

    -webkit-box-shadow: 0px 43px 18px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 43px 18px -23px rgba(0,0,0,0.75);
    box-shadow: 0px 43px 18px -23px rgba(0,0,0,0.75);
    
}
.SideBarBtns{
    position: absolute;
    top: 48px;
    left: -500px;
    width: 201px;
    list-style-type: none;
    transition: 0.3;
    transition-delay: 0.2s;
    z-index: 202;
}
.SideBtns{
    position: relative;
    background-color: transparent;
    border-color: transparent;
    width: 288px;
    height: 50px;
    left: -15px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.SideBtns:hover{
    background-color: rgb(167, 167, 167);
}
.SideLogo{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    left: 35px;
}
.AccountLogo{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    left: 1390px;
    z-index: 1;
    cursor: pointer;
}
.AccountDropDown{
    position: absolute;
    top: 25px; /*accountlogo postion*/
    right: 34px; 
    width: 0px; 
    height: 0px; 
    border-radius: 8px;
    background-color: rgb(194, 194, 194);
    transition: 0.1s;
    z-index: 1;
}
.SignOut{
    position: absolute;
    top: 260px;/*260*/
    right: 42px; /*42*/
    width: 60px; /*60px*/
    height: 20px; /*20px*/
    border-color: transparent;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    transition: 0.1s;
    transition: width 0.5s;
    transition: height 0.5s;
    transition: top 0.1s;
    transition: right 0.1s;
    z-index: 3;
}
.SwitchAccount{
    position: absolute;
    top: 260px; /*260*/
    right: 200px; /*200*/
    width: 58px; /*58px*/
    height: 20px; /*20px*/
    border-color: transparent;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    transition: 0.1s;

    z-index: 3;
}
.AccountHr{
    position: absolute;
    top: 250px; /*250px*/
    right: 24px; /*24px*/
    width: 250px; /*250px*/
    height: 8px; /*8px*/
    background-color: rgb(107, 107, 107);

    z-index: 2;
}
.AccountBottom{
    position: absolute;
    top: 250px; /*250px*/
    right: 24px; /*24px*/
    width: 250px; /*250px*/
    height: 42px; /*42*/
    background-color: rgb(107, 107, 107);
    border-radius: 8px;
    transition: 0.1s;

    z-index: 2;
}


 
     
     
     
     
     
     